HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.VSCodeCounter/2024-08-02_23-30-31/details.md
/.VSCodeCounter/2024-08-02_23-30-31/diff.csv
/.VSCodeCounter/2024-08-02_23-30-31/diff.md
/.VSCodeCounter/2024-08-02_23-30-31/diff.txt
/.VSCodeCounter/2024-08-02_23-30-31/diff-details.md
/.VSCodeCounter/2024-08-02_23-30-31/results.csv
/.VSCodeCounter/2024-08-02_23-30-31/results.json
/.VSCodeCounter/2024-08-02_23-30-31/results.md
/.VSCodeCounter/2024-08-02_23-30-31/results.txt
