<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zja.sxau.govenmentadmin.mapper.CommitMapper">

    <select id="findByUserIdCard" resultType="com.zja.sxau.govenmentadmin.entity.Commit">
        SELECT c.comment_id, c.user_id, c.service_id, c.content, c.created_at
        FROM comment c
                 INNER JOIN users u ON c.user_id = u.user_id
        WHERE u.idcard = #{idCard}
    </select>
</mapper>