<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zja.sxau.govenmentadmin.mapper.QueueMapper">
    <select id="getQueueByDocumentNumber" parameterType="string" resultType="com.zja.sxau.govenmentadmin.entity.Queue">
        SELECT q.*
        FROM queue q
                 JOIN appointments a ON q.appointment_id = a.appointment_id
        WHERE a.document_number = #{documentNumber}
    </select>

    <select id="getAllQueues" resultType="com.zja.sxau.govenmentadmin.entity.Queue">
        SELECT * FROM queue
    </select>

    <insert id="insertQueue" parameterType="com.zja.sxau.govenmentadmin.entity.Queue">
        INSERT INTO queue (appointment_id, queue_number, window_id, queue_status, called_time)
        VALUES (#{appointmentId}, #{queueNumber}, #{queueStatus}, #{calledTime}, #{windowId})
    </insert>

    <update id="updateQueue" parameterType="com.zja.sxau.govenmentadmin.entity.Queue">
        UPDATE queue
        SET appointment_id = #{appointmentId}, queue_number = #{queueNumber}, window_id = #{windowId}, queue_status = #{queueStatus}, called_time = #{calledTime}
        WHERE queue_id = #{queueId}
    </update>

    <delete id="deleteQueue" parameterType="int">
        DELETE FROM queue WHERE queue_id = #{queueId}
    </delete>

</mapper>